[access]
	inheritFrom = All-Projects
[project]
	description = rc632 for aosp5.1
[access "refs/*"]
	owner = group user/Suman Dhara (Suman-Dhara)
[access "refs/for/refs/*"]
	read = group user/Suman Dhara (Suman-Dhara)
	push = group user/Suman Dhara (Suman-Dhara)
	label-Code-Review = -2..+2 group user/Suman Dhara (Suman-Dhara)
	label-Verified = -1..+1 group user/Suman Dhara (Suman-Dhara)
	rebase = group user/Suman Dhara (Suman-Dhara)
	removeReviewer = group user/Suman Dhara (Suman-Dhara)
	submit = group user/Suman Dhara (Suman-Dhara)
[access "refs/heads/*"]
	read = group user/Suman Dhara (Suman-Dhara)
	create = group user/Suman Dhara (Suman-Dhara)
	push = +force group user/Suman Dhara (Suman-Dhara)
	pushMerge = group user/Suman Dhara (Suman-Dhara)
[access "refs/tags/*"]
	push = group user/Suman Dhara (Suman-Dhara)
	push = +force group user/Suman Dhara (Suman-Dhara)
